.cropContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
}

.innerControls {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2em;
    z-index: 9999;
}

.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.picture-button {
    max-width: calc(30% - 2em);
    width: calc(30% - 2em);
    margin: 1em;
}
.zoom-slider {
    max-width: calc(40% - 2em);
    width: calc(40% - 2em);
    margin: 1em;
}