.cropContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.innerControls {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2em;
    padding-bottom: 10vh;
}

.controls {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.picture-button {
    max-width: calc(30% - 2em);
    width: calc(30% - 2em);
    margin: 1em;
}
.zoom-slider {
    max-width: calc(40% - 2em);
    width: calc(40% - 2em);
    margin: 1em;
}