.chainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #344453;
    border-radius: 4px;
    background-color: #ccc;
  }
  
  .chainTitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .deleteBtn {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    color: #344453;
  }

  .deleteBtn:hover {
    color: #fff;
  }

  .addChainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    color: #344453;
    border: none;
    cursor: pointer;
    margin-left: 45%;
  }
  
  .addChainBtn:hover {
    background-color: #344453;
    color: #ccc;
    border: solid 1px #ccc;
  }
  

  .chainListContributions {
    width: 93%;
    margin-top: 10%;

  }

  .chainTitleText {
    margin-left: 10px;
    color: #344453;
  }

  
  