.chainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: #fff;
    /* make it a button */
    cursor: pointer;
    height: 110px;
  }
  
  .chainTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 10px;
    height: 100%;

  }
  
  .deleteBtn {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    color: #344453;
  }

  .deleteBtn:hover {
    color: #fff;
  }

  .addChainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    color: #344453;
    border: none;
    cursor: pointer;
    margin-left: 45%;
  }
  
  .addChainBtn:hover {
    background-color: #344453;
    color: #ccc;
    border: solid 1px #ccc;
  }
  

  .chainListContributions {
    width: 93%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

  }

  .chainTitleText {
    margin-left: calc(10px + 1vw);
    color: #344453;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin-left: 2em;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .chainTitleText .date-container {
    justify-content: flex-end;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  
  .chainTitleText div {
    margin: 0;
    height: 100%;
  }
  

  .author {
    display: flex;
    align-items: center;
    gap: 10px;
  }