$primary-color: #344453;
$secondary-color: #F1B706;
$tertiary-color: #EADFC3;

$dark-color: #0E0E2C;
$success-color: #40AC92;
$error-color: #CB7A7A;
$text-color: #4A4A68;
$subtle-text-color: #8C8CA1;
$accent-color: #ECF1F4;
$light-color: #FAFCFE;

.secondary-text {
  color: $secondary-color;
}

.margin-m {
  margin-top: 3rem;
  margin-bottom: 3rem;
}