.fact {
    height: 90%;
    max-height: 450px;
    color: black;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: calc(2em + 1vw);
    padding-right: calc(2em + 1vw);
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.66);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(0.5em + 1vh);
    margin-bottom: calc(0.5em + 1vh);
    text-align: left;
}

.factHead {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.factHead h1 {
    line-height: 30px;
    font-size: 1.3rem;
    font-weight: 500;
}

.factHead h1 span {
    font-weight: 700;
}

.factHead h2 {
    line-height: 20px;
    height: 20px;
    font-size: 15px;
}

.factHeadTop {
    text-align: left;
}

.factHeadBottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    flex: 1; 
}

.factHeadBottomRight, .factHeadBottomLeft {
    flex-basis: 50%;
}
.factHeadBottomRight ul{
    display: inline-block;
    height: max-content ;
}

.factHeadBottomRight li{
    display: inline-block;
    height: max-content ;
    text-align: center;
    margin: 0px 5px 0px 5px;
}

.factBody {
    position: relative;
    text-align: justify;
    width: 100%;
    height: max-content;
    display: flex;
    gap: 40px;
}

.factMedia {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.factVerified{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.uncheckedIcon .verifiedIcon {
    margin-right: 1em;
}
.verifiedText {
    margin: 0;
    padding: 0;
}

.content-left {
    position: relative;
    width: 60%;
    height: max-content;
    display: inline-block;
    text-align: justify;
}

.content-left p {
    display: inline-block;
    height: max-content;
}

.content-right {
    position: relative;
    width : 35%;
    height: 100%;
    display: flex;      
    flex-direction: column;
}

.fact-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.fact::-webkit-scrollbar {
    width: 8px;
}

.fact::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

.fact::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.padding-m {
    padding: 30px;
}
.factImage img, .figureImage img, .factItemImage img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100px;
    margin-left: auto;
}
