$slick-font-path: "~slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "~slick-carousel/slick/" !default;
$slick-arrow-color: black !default; 

.sliderFactList {
    width: auto;
}

.slick-arrow.slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;

    &::before {
        content: "<" !important;
        font-size: 30px;
        line-height: 1;
        color: black;
        background: none;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        border: solid 1px #d2d2d2;
    }
}


.slick-arrow.slick-next {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;

    &::before {
        content: ">" !important;
        font-size: 30px;
        line-height: 1;
        color: black;
        background: none;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        border: solid 1px #d2d2d2;
    }
}

.sortedFact {
    height: 500px;
}

.imageFactList {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
}