$slick-font-path: "~slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "~slick-carousel/slick/" !default;
$slick-arrow-color: black !default; 

.sliderFactList {
    width: auto;
}

.slick-arrow.slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;

    &::before {
        content: "<" !important;
        font-size: 30px;
        line-height: 1;
        color: black;
        background: none;
        width: 32px;
        height: 32px;
        border-radius: 10px;
        border: solid 1px #d2d2d2;
        background-color: #d2d2d2;
    }
}


.slick-arrow.slick-next {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;

    &::before {
        content: ">" !important;
        font-size: 30px;
        line-height: 1;
        color: black;
        background: none;
        width: 32px;
        height: 32px;
        border-radius: 10px;
        border: solid 1px #d2d2d2;
        background-color: #d2d2d2;
    }
}

.sortedFact {
    height: 450px; // Change fact height here
}

.imageFactList {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.slider{
    display: flex;
    width: 70%;
    padding-left: 15%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

