@tailwind base;
@tailwind components;
@tailwind utilities;

.BAFTtest {
    position: absolute;
    top:15%;
    left:50%;
    z-index: 1000;
    height: 70%;
    width: 40%;
    background-color: grey;
}