@tailwind base;
@tailwind components;
@tailwind utilities;

.BAFTtest {
    position: absolute;
    top:25%;
    left:50%;
    z-index: 1000;
    height: 300px;
    width: 400px;
    background-color: grey;
}