/* Home.module.css */
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.content {
  position: relative;
  padding: 0 20px;
  text-align: justify;
  max-width: 500px;
  margin-bottom: 3rem;
}

/* https://lagrandehistoiredefrance.fr/ */
.headline {
  color: #fff;
  font-weight: bold;
  font-size: calc(2.5rem + 3vw);
  font-family: 'Ibarra Real Nova';
  text-transform: uppercase;
}

.subtitle {
  color: #fff;
  font-size: 20px !important;
  line-height: 27px !important;
  font-family: 'Ibarra Real Nova';
  margin: 0;
}

.banner {
  position: relative;
  width: 100%;
  padding-top: calc(150px - 55px);
  padding-bottom: 150px;
  margin-bottom: 10px;
  text-align: center;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  transition: opacity 1s ease-in-out;
}

.active {
  opacity: 1;
}

.imageInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(84, 108, 130, 0.5);
  color: #fff;
  font-size: calc(0.3rem + 0.5vw);
  font-family: 'Ibarra Real Nova';
  text-align: right;
  padding-right: 2em;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.imageInfo p {
  font-size: 14px;
}

.imageInfo a {
  pointer-events: auto;
  cursor: pointer;
  color: #F1B706;
  text-decoration: none;
}

.bgImage {
  position: absolute;
  top: 2%;
  left: 4%;
  width: 90vw;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgText {
  background-color: rgb(52, 68, 83, 0.7);
  backdrop-filter: blur(3px);
  color: #ffffff;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
}

.bgText h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.bgText b {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.bgText p {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.bgText a {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.blob1 {
  position: absolute;
  width: 206.11px;
  height: 246.24px;

  background: #C4C4C4;
  transform: rotate(-29.33deg);
}

.blob2 {
  position: absolute;
  width: 171px;
  height: 157px;

  background: #C4C4C4;
}

.blob3 {
  position: absolute;
  width: 76px;
  height: 94px;

  background: #C4C4C4;
  transform: rotate(45.33deg);
}

.blobsContainer {
  position: relative;
  width: 100%;
  height: 200px;
}

.bgImage {
  background-image: url('/resources/arpit-rastogi-BvRTUMHJAiQ-unsplash.jpg');
}