.mapWrapper {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.map-container{
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    left: 60px;
}