.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 60px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .open {
    left: 0;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
  }
  
  .toggle {
    background: none;
    border: none;
    font-size: 25px;
    color: #333;
    cursor: pointer;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icons i {
    font-display: flex;
    align-items: center;
    font-size: 25px;
  }
  
  .content {
    justify-content: center;
  }
  
  .content ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .content li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 25px;
  }

  .content li .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
  }
  
  .content li .icon span {
    font-size: 10px;
    text-align: center;
  }
  