.topbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #344453;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.topbar .leftrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar .title {
  display: flex;
  color: #F1B706;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-right: calc(1em + 2vw);
}

.topbar .title h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 5px;
  line-height: normal;
}

.topbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f7f7f7;
  margin-left: 30px;
}

.topbar .logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.topbar .connection {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: rgb(252, 118, 118);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar .connected {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: rgb(101, 255, 124);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.topbar a {
  display: flex;
  align-items: center;
}
.topbar .connection:hover {
  color: #666;
}

.map {
  margin-left: 10px;
}

.topbar a:link {
  text-decoration: none;
}

.topbar a:visited {
  text-decoration: none;
}

.topbar a:hover {
  text-decoration: none;
}

.topbar a:active {
  text-decoration: none;
}