nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.row {
  display: flex;
  direction: row;
  align-items: center;
}

html {
  height: 100%;
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  
  > div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
      flex: 0 1 auto;
    }
    
    > main {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.topbar {
  height: 50px;
  background-color: #344453;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.topbar .leftrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar .title {
  display: flex;
  color: #F1B706;
  align-items: center;
  text-align: center;
  height: 100%;
}

.topbar .title h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding-left: 20px;
}

.topbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f7f7f7;
  margin-left: 10px;
}

.topbar .logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.topbar .connection {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: rgb(252, 118, 118);
  cursor: pointer;
}

.topbar .connected {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: rgb(101, 255, 124);
  cursor: pointer;
}

.topbar .connection:hover {
  color: #666;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #344453;
  min-width: 64px;
  padding: 5px 15px;
  border-radius: 4px;
  width: 100%;
}

label {
  width: 100%;
  text-align: left;
}

li {
  list-style-type: none;
}