@import '../../styles/colors.scss';
@import '../../styles/sideBar.scss';

.batf {
    position: fixed;
    width: 30em;
    right: 0;
    top: 50px;
    bottom: 0;
    height: 100%;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    background-color: $primary-color;
    transition: 0.5s;
    color: white;

    z-index: 9999;
    transition: all 0.3s ease;
    transform: translateX(0);
}

.inner-batf {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.batf-fullscreen {
    @extend .batf;

    width: calc(100% - $sidebar-left-offset);
}

// Fade in animation
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// Fade out animation
@keyframes fade-out {
    0% {
        opacity: 1;
        height: 4em;
        margin-top: 1em;
    }

    100% {
        opacity: 0;
        height: 4em;
        margin-top: 1em;
    }
}

.batf-handle {
    width: 2em;
    transform: translateX(-2em);
    height: 4em;
    border-radius: 10px 0 0 10px;
    bottom: 0;
    margin-top: 1em;
    display: flex;
    background-color: $primary-color;

    &.hidden {
        opacity: 0;
        height: 0;
        margin-top: 0em;
    }

    &.visible {
        animation: fade-in 0.5s ease;
        opacity: 1;
    }
}

.batf-minimized {

    transform: translateX(100%);
}

.batf-minimized-btn>i {
    color: $secondary-color;
}

.tabs-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        text-transform: uppercase;
        margin: 0;
        background-color: hsla(208, 20%, 18%, 0.8);
        padding: 0;
        text-align: center;
        width: 100%;
        font-size: calc(0.8em + 0.5vw);
        line-height: 40px;
    }
}

.batf-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    gap: 10px;
    height: 40px;
    align-items: center;
}

.batf-content {
    height: 90%;
}

.tabs-row {
    padding-left: 0;
    margin: 0;
    display: flex;
    width: 100%;


    .batf-tab {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        background-color: $primary-color;

        color: white;
        padding: 10px;

        &:hover {
            opacity: 0.8;
        }
    }

    .batf-selectedtab {
        @extend .batf-tab;

        background-color: $secondary-color;
    }
}

.tab-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.loadingTabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}