.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #344453;
  border: 1px solid #EADFC3;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.providers {
  width: 100%;
}
.providers button {
  margin: 0.5rem 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions button:hover {
  background-color: #1f2830;
  border-color: #1f2830;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #344453;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #5e7b96;
}
